[2016-03-13 08:03] nick-ulle opened #3 "getInputs Incorrect for Loops with Conditionals"
Inputs are not detected correctly for loops that contain if-statements. Minimal example:

[code]

Here `a` should be detected as an input, but isn't.

[2016-03-13 17:29] gmbecker commented on #3
@nick-ulle a is only conditionally an input here. CodeDepends would need to know (or assume) that the condition in the if statement won't (always) be true to determine that a is an input.

BTW this doesn't have anything to do with the for loop, it's how if-statements are handled currently that is causing the issue.

[code]

Since a is an output of the if statement, it is available later within the

[2016-03-13 22:59] nick-ulle commented on #3
The purpose of the for-loop is that `a` is _not_ a conditional input (the first iteration) and this can be inferred statically. Although we could certainly unroll the loop to get a simpler example:

[code]

It's also not entirely clear to me why here `i` is marked as an output (which seems correct), whereas in the for-loop example, `i` is marked as an input.

At any rate, it seems like the conserv

[2016-03-14 17:24] gmbecker commented on #3
@nick-ulle you're absolutely right about the `i` handling, of course. I had missed that as I was focused on `a` and `b`.

I've pushed a fix to my repo (which should add it to the open PR) for recognizing that i is an output. I haven't done anything beyond that in terms of loop comprehension, as that is obviously much more in your wheelhouse than mine, but (with the PR) it should be very easy to bu

[2016-08-09 23:32] MatthiasHinz opened #4 "Incorrect "inputs" in responses of getInputs and scriptInfo (Slot operator @ is not handled correctly)"
Hi,
I just tried to evaluate the following expression with getInputs (also with scriptInfo) and received an incorrect response for the inputs slot

`log(dataMALARIA@data$z * 10))`

The output for the slot is

[code]

I expected the value to be just `dataMALARIA`. From my testing I suppose that CodeDepends doesn't evaluate those expressions correctly that contain the @ operator. I tested with the p

[2016-08-22 20:26] gmbecker commented on #4
I suspect this is because dataMALARIA@data is being interpreted as a normal function, rather than a data-accessor function, like `$` is. Should be an easy fix, I think, just need to use the `$` handler, or something very like it, for the `@` function.

I'll work something up but wait a bit for comment by @duncantl before committing.

Thanks for the report.

[2016-08-25 17:10] gmbecker commented on #4
@MatthiasHinz  @duncantl I've addressed this in #5

I'll leave it as a pull request for a day or two for comments, then merge it in. It turns out that while @ was (probably) not being handled correctly, that isn't actually where the problem was. It was actually the compound LHS that the dollar handler wasn't dealing with correctly.

i.e.

`dataMALARIA@data$z` is translated into the parser to `'$'(

[2017-01-09 16:59] blindjesse opened #6 "Bad link"
Link to http://www.omegahat.org/CodeDepends returns 404

[2017-01-10 01:28] omegahat commented on #6
That should be omegahat.net rather than .org.
In what document did you encounter this link?
Thanks - Duncan

[2017-01-10 16:04] jessjaco commented on #6
It's near the top of https://github.com/duncantl/CodeDepends in a browser:
<img width="799" alt="screen shot 2017-01-10 at 9 03 34 am" src="https://cloud.githubusercontent.com/assets/1250693/21813501/b94dc2f4-d713-11e6-9781-8730945cd059.png">

[2017-01-10 18:57] duncantl commented on #6
Aaah, thanks.  Fixed now.

[2017-01-10 19:02] #6 closed

[2017-02-22 01:07] clarkfitzg opened #7 "loops in task graph"
If tasks are top level expressions in a script then they shouldn't refer to themselves with a loop. It's ok for variable graphs and call graphs though.

In this code I would expect a single edge from node 1 to 2.

[code]

But the task graph includes an additional edge from node 2 to itself.

[code]
![image](https://cloud.githubusercontent.com/assets/5356122/23192011/d1468e32-f855-11e6-96a5-b1dfe97

[2017-02-23 01:38] clarkfitzg commented on #7
This seems to happen when a variable is redefined. A simpler example:
[code]

[2017-02-23 01:42] duncantl commented on #7
Yep, we touched on this when we talked yesterday.  In some ways, that is a new variable x.
Getting the semantics right requires some thinking about use cases. I suspect we want think
clearly what we are trying to "model'/describe in this graph and whether it is variables, updates, or expressions.

[2017-02-23 02:09] clarkfitzg commented on #7
The immediate use case I have in mind is looking at possibilities for parallel computation within the script through a [use-define chain](https://en.wikipedia.org/wiki/Use-define_chain), so I'm interested in the dependencies only among expressions.

`makeVariableGraph` seems to handle the variables.

But you're right, that is a "new" `x`. And one might want to differentiate these, ie. `x1, x2, ...

[2017-02-23 02:13] duncantl commented on #7
Yes and x1, x2, etc. is essentially SSA - Single Static Assignment. You can talk to Nick about that.
As you say, makeVariableGraph seems to handle variables. If so, then change makeTaskGraph() do what you want.  Key point is defining what it is that you want it to represent.  It could be nuanced.  But that's why it is fun :-)

[2017-02-23 02:31] clarkfitzg commented on #7
Great I'll work on a patch for this tomorrow.

[2017-02-23 17:45] clarkfitzg commented on #7
A few ways to do this:

1. Put a `start_index` argument in `getPropagateChanges` to allow control over which expression to start looking at.
2. Subset the expressions so that  `getPropagateChanges` only looks at remaining expressions, excluding current and previous ones. Then recompute the original index.
3. Create the graph more directly with the `ScriptInfo` objects.

I'm favoring the last one,

[2017-02-27 19:32] clarkfitzg commented on #7
Turns out I do want something nuanced and slightly different- a graph representing constraints on the order in which the code runs. So I'll work on that and hold off on making changes here.

[2017-03-01 19:03] clarkfitzg opened #8 "getInputs() inconsistent depending on use of $."
For the output of `getInputs` the slots `inputs` and `functions` seem inconsistent depending on the use of `$`. This causes the task graph fail to include some necessary edges.

This looks fine:
[code]

But this doesn't tell me directly that the functions `abs` and `sin` were used:

[code]

Am I missing some bigger picture?

[2017-03-02 15:12] gmbecker commented on #8
At first blush, at least, this looks like a bug.

The way codeDepends is setup IIRC, optimize, abs and sin shouldn't be
listed as inputs. They are non-user-defined functions so you'd have to be
passing a non-default combination of parameters if you want to list those
as inputs. Generally you'd just grab functions called from the functions
slot, though, right?

Anyway, I'll take a look.

On Wed, Ma

[2017-03-02 17:22] clarkfitzg commented on #8
@duncantl and I worked through it yesterday. The `dollarhandler` wasn't considering the case in `a$b` where `a` can be an expression rather than a name. Fix here: https://github.com/duncantl/CodeDepends/commit/5eae594412e39bcc98210c30e58eabe59f36b8fc.

[2017-03-02 17:29] gmbecker commented on #8
Yeah, I just looked at it and came to the same conclusion (and came up with
the same fix you guys already put in). Thanks @duncantl for taking care of
that.

~G

On Thu, Mar 2, 2017 at 9:23 AM, Clark Fitzgerald <notifications@github.com>
wrote:

--
Gabriel Becker, PhD
Associate Scientist (Bioinformatics)
Genentech Research

[2017-03-02 17:40] nick-ulle commented on #7
This paper might be relevant if you want go the SSA route: <http://dl.acm.org/citation.cfm?doid=268946.268956>

I'm thinking of adding array SSA to the ast package because I need something similar for type inference on list elements.

[2017-04-18 16:15] gmbecker opened #9 "Prepare for CRAN release"
All,

I would like torelease a package that depends on CodeDepends to CRAN in concert with submitting manuscript about it to a journal. Are there any objections to me preparing CodeDepends for release (ie cleaning up docs, making sure it passes check, etc)  and submitting it to CRAN?

Is there any local work you have that you'd like to merge in before the release? @duncantl @nick-ulle @clarkfitzg

[2017-04-18 21:01] clarkfitzg commented on #9
Fine by me. I appreciate the heads up.

[2017-04-19 03:49] dsidavis commented on #9
Gabe, please go ahead and clean up. Let us know of any significant changes, but otherwise great.
Who can argue against others doing the clean up :-)
Thanks

[2017-05-09 19:52] gmbecker commented on #4
@MatthiasHinz Apologies for the large delay o this. Looks like I set up the pr right before going on paternity leave last year.

Anyway, I've merged the PR that fixes this.  thanks for the report.

[2017-05-09 19:52] #4 closed

[2017-06-01 15:30] gmbecker commented on #9
CodeDepends 0.5-3 is now on CRAN.

[2017-06-01 15:30] #9 closed

[2017-06-01 16:01] gmbecker opened #12 "Improve/polish handling of library symbols"
API that I hacked in during thesis work probably isn't the right one, and handling could be more robust/useful.

I believe @jonocarroll had some interest in collaborating on this. This issue is just a stub for now, but if there is interest we'll flesh it out and figure out details

[2017-06-01 19:50] zx8754 opened #13 "Shiny script dependencies"
Would it be possible to supply 3 files:

- global.R
- ui.R
- server.R

And get network plot of all dependencies of variables, including static like `x = 1 + y` and dynamic like `input$myChoice`, `myData <- reactive({ ... })`, `output$myTable <- renderDataTable( ... )`?

[2017-06-02 00:06] jonocarroll commented on #12
My interest was originally in doing something that may have some application here: https://twitter.com/carroll_jono/status/809206596953772032 (https://gist.github.com/jonocarroll/55046430b23d88e9628ac6b4edf8bb52). I'm interested in helping out when I have the time (which is a bit of a varying quantity at the moment).

[2017-06-02 01:00] gmbecker commented on #12
Right. That's what I was referring to. Incorporating that functionality (in
addition to/ rather than the current local/non-local boolean CodeDepends
currently uses) and thinking about things that can be done with that info.

Also, if we make assumptions about the script being run by itself in a
clean session (e.g., in batch setting) we can reason about the search path
and actual disambiguate. A re

[2017-06-02 01:12] jonocarroll commented on #12
Yeah, I'm interested as it's good crossover with what I wanted it to be able to do (`CodeDepends` is a much more thorough invocation of my goal). Disambiguating based on the search path *at that point of the script* is complex, I'm sure; i.e. in the case that `dplyr` was loaded, `select()` was called once, then `MASS` was loaded and `select()` called again, I'd like to be able to pick out the sepa

[2017-06-02 02:17] dsidavis commented on #12
Great.
This identification of where in the search path a function is currently located can be done statitically.
It can also be done semi-statically, i.e., we can evaluate the library()/require() calls contained in the script while doing static analysis and not evaluate the other expressions. Then we look along the actual search path to find "select",  etc.  This avoids reimplementing a pseudo ver

[2017-06-02 02:24] jonocarroll commented on #12
These *shouldn't* appear in package functions, but I could see someone calling `library()` in a scripted function. It's perhaps poor practice to do so, but I'd consider this an edge-case of what I had in mind.

[2017-06-02 02:25] dsidavis commented on #12
Absolutely, entirely agree.

[2017-06-02 03:33] duncantl commented on #13
Yes, CodeDepends basically collects the information you need for this. (It does not deal with closures).  However, you will have to assemble the information that you want using the functions in the package.

[2017-06-02 06:55] zx8754 commented on #13
Will explore more. Thank you for the package!

[2017-06-02 06:55] #13 closed

[2017-06-02 19:34] gmbecker commented on #12
Indeed, for an example of this approach see the data function handler I added recently. It does this to determine the output variables from a data() call so that they appear properly in the dependency chain.

EDIT: Actually looking closely, is is the approach I took for the current version of library symbol checking that's there now. That is only currently used when you tell CodeDepends to treat f

[2017-06-08 17:07] wlandau-lilly opened #14 "CodeDepends as a backend for reproducible build systems"
I just learned about CodeDepends, and I am glad to find such an active effort in static code analysis. R-focused reproducible build systems like [drake](https://cran.r-project.org/package=drake) and [remake](https://github.com/richfitz/remake) (and of course, knitr) could seriously benefit (richfitz/remake#172, wlandau-lilly/drake#41). [Drake](https://cran.r-project.org/package=drake) and [remake]

[2017-06-08 19:24] clarkfitzg commented on #14
Drake looks like an interesting system, especially the parallel stuff. Can you point me to a small example analysis that uses it?

[Here's an example](https://github.com/clarkfitzg/phd_research/blob/master/codedepends/depend_graph.R#L77) where I used CodeDepends to generate a graph representing the dependencies between top level expressions in an R script. I use it to map [this simulation script](

[2017-06-08 19:48] wlandau-lilly commented on #14
Thanks, @clarkfitzg! Drake has a small built-in canonical example analysis in the [quickstart vignette on CRAN](https://cran.r-project.org/web/packages/drake/vignettes/quickstart.html), and you can generate [the underlying R script](https://github.com/wlandau-lilly/drake/blob/master/inst/examples/basic/basic.R) with `drake::example_drake("basic")`.

I will look into your CodeDepends example. From

[2017-06-08 20:13] gmbecker commented on #14
Another thing to be aware of, depending on exactly how you intend to use codetools, is that there are corner cases that it currently gets wrong:

[code]

(`x` is a global symbol in the above definition of `f`)
This can wreak havoc when you're doing careful computing on dependencies.

I think you may also be interested in some work I did during my thesis on input-aware caching via [RCacheSuite](htt

[2017-06-08 20:33] wlandau-lilly commented on #14
@gmbecker interesting. Both [drake](https://cran.r-project.org/package=drake) and [remake](github.com/richfitz/remake) use [storr](https://CRAN.R-project.org/package=storr) to cache both code and targets, and [RCacheSuite](https://github.com/gmbecker/RCacheSuite) looks like it makes the code part easier.

Incidentally, for [drake](https://cran.r-project.org/package=drake), I would actually prefer

[2017-06-09 15:07] gmbecker opened #15 "Change slotname/api from "library" to "package""
@mmaechler reached out to me and pointed out that a "library" in R is the set of installed packages which are loadable, and what library calls do, is actually load (and attach) the package. So the api points for setting and retrieving the set of packages used by the script being analyzed should use the package terminology, rather than the library terminology.

There are two possible solutions to t

[2017-06-09 15:30] clarkfitzg commented on #15
Change to what you think is best, we'll adapt.

[2017-06-09 15:59] wlandau-lilly opened #16 "devtools functions for loading packages"
In addition to detecting `library()`, `require()`, and `requireNamespace()`, what are your thoughts on  `load_all()`, `load_code()`, and `load_data()` from `devtools`?

[2017-06-09 16:44] gmbecker commented on #16
It's an interesting question. load_all, certainly, is "roughly analogous" to library, though is that the one that dumps everything into the "namespace" of the package, rather than following the NAMESPACE file?

Although, from a practical perspective, I'd argue that while those functions may be useful during the process of package development, but they shouldn't really be appearing in script code (

[2017-06-09 17:04] gmbecker commented on #12
#15 and #16 are relevant here as well.

[2017-06-09 18:01] wlandau-lilly commented on #16
@gmbecker Definitely reasonable concerns. Also, `load_all()` seems to rely on the `NAMESPACE` file to detect imports and dependencies, but it loads the local source and dumps it into a "namespace" without needing to look at `NAMESPACE`. (I tested by deleting `NAMESPACE` from one of my own packages just now.) And it attaches all the package's functions, not just the exported ones.

[2017-06-14 15:07] wlandau-lilly commented on #14
After digging into the package some more, I have [decided against replacing `codetools` with `CodeDepends` in the preexisting internals of `drake`](https://github.com/wlandau-lilly/drake/issues/41#issuecomment-308456705). However, I think `CodeDepends` will put the otherwise difficult issues wlandau-lilly/drake#9 and wlandau-lilly/drake#25 within reach, and I look forward to getting started on the

[2017-06-14 15:19] gmbecker commented on #14
Do you mind if I ask what made you come to that decision? It is your
prerogative, of course, but using two entirely different static code
frameworks in the same project can't be ideal. Are we missing functionality
that code tools gives you?

Best,
~G

On Wed, Jun 14, 2017 at 8:07 AM, Will Landau <notifications@github.com>
wrote:

--
Gabriel Becker, PhD
Associate Scientist (Bioinformatics)
Genentec

[2017-06-14 15:56] wlandau-lilly commented on #14
I definitely think `CodeDepends` is more powerful and feature-rich than `codetools`, and I am still excited to make use of it. But for the specific purpose of building a network of targets in `drake`, I was originally looking for solutions to the edge cases in wlandau-lilly/drake#11. `CodeDepends` solves at least one of these by detecting functions referenced with `::` and `:::`, but others remain

[2017-06-14 20:48] wlandau-lilly commented on #14
...I didn't explain that very well, so maybe I should add a tl;dr and a clarification: `drake` already has mostly satisfactory functionality for tracking dependencies and graphing targets, and after looking at `CodeDepends`, I think the gains of reimplementing that specific piece would be small. And in my case, any loss of back compatibility is unusually risky. My users have computationally intens

[2017-06-23 18:28] gmbecker opened #17 "smarter handling of filter duality"
Right now it the collector checks whether it knows dplyr has been attached, but the problem here is that it is only checking in the current node, which often isn't where the library call appears.

Need to figure out a better solution for this.

[2017-07-19 15:59] wlandau-lilly opened #18 "visNetwork + directed layouts"
I am really enjoying the graphing features of CodeDepends, especially the networks of relationships among the functions of new packages I am learning. It makes me think about some new things that would be nice to see in the future.

1. I am a big fan of the interactivity in `visNetwork`, especially for large graphs. I believe `igraph` can serve as an intermediary if you decide to port `Rgraphviz`

[2017-07-19 16:01] duncantl commented on #18
We'd gladly entertain patches.

[2017-07-22 18:41] wlandau-lilly commented on #14
FYI: [this SO post](https://stackoverflow.com/questions/45257952/detecting-package-namefunction-name-with-static-code-analysis) elaborates on a piece of what I am looking for.

[2017-07-31 17:51] wlandau-lilly opened #19 "getInputs(..., recursive = TRUE, envir = parent.frame())"
It would be really handy to dig for deeper for dependencies. I think it would be enough to limit recursion to the user's environment. Desired behavior:

[code]

[2017-07-31 17:55] wlandau-lilly commented on #19
Oops, I forgot to write the actual desired result the first time. Please see the "`inputs`" and `"functions"` slots in the edited version.

[2017-08-07 22:19] clarkfitzg commented on #19
+1 This would be useful for me.

[2017-08-08 02:27] duncantl commented on #19
Well, global variables such as my_var are far from ideal. So not best practice for writing code.
Recursive is easy - use codetools::findGlobals().
But what if there is a conditional dependency, e.g., if my_var is used only if the value of x > 10 in g()?

[2017-08-08 14:49] wlandau-lilly commented on #19
I agree that global non-function global variables are bad practice. Unfortunately, though, I have seen it in code.

Personally, I do not mind that some dependencies are conditional, and I would be okay if they mixed with unconditional dependencies. It would seem difficult to detect the distinction in static code analysis.

[2017-08-08 15:12] clarkfitzg commented on #19
In my mind there is a big distinction between static code analysis and looking at 'live' code. `codetools::findGlobals()` operates on closures, which are live objects that don't exist if we've only parsed the code. As I understand, CodeDepends is designed for static analysis.

@wlandau-lilly wrote:

This could essentially be done statically by only recursing into functions defined in the `ScriptNo

[2017-10-10 16:56] clarkfitzg opened #20 "Handle assignment into an environment"
In the following I'd like to know that the environment `e` was updated:

[code]

This came up attempting to analyze the body of the `koRpus::set.kRp.env()` function which sets a bunch of variables in a private package environment `koRpus:::.koRpus.env`.

[2017-10-10 17:16] clarkfitzg commented on #19
It would also be useful to dig deeper for dependencies inside a package environment.

[2017-10-10 18:12] gmbecker commented on #20
This is doable. We can make it the default (although environments are are
pass-by-reference so they violate assumptions we make all over the place
when, e.g., creating threads, tree-shaking, differentiating inputs vs
outputs/updates, etc).

The default assign() handler is assignfunhandler:

assignfunhandler = function(e, collector, basedir, input,
                            formulaInputs, update,

[2017-10-10 18:17] gmbecker commented on #20
(now with proper formatting, stupid email reply...)

This is doable. We can make it the default (although environments are are
pass-by-reference so they violate assumptions we make all over the place
when, e.g., creating threads, tree-shaking, differentiating inputs vs
outputs/updates, etc).

The default assign() handler is assignfunhandler:
[code]
We can add a check to see if the envir argument i

[2017-10-10 19:37] clarkfitzg commented on #20
Thanks @gmbecker, I'll use this. I imagine the pass by reference semantics complicates things significantly.

[2018-02-15 23:24] Corey-Zumar opened #21 "GetInputs: "Don't know about" error when serializing random forest formula"
Steps to reproduce from an R shell:

[code]

The following error is produced:

[code]

It may be worth noting that executing the `class()` method on the `model` object produces a 2-element list:

[code]

[2018-02-16 03:12] wlandau-lilly commented on #14
Just found a nifty use for `CodeDepends` in ropensci/drake#232. I occasionally need to find the globals of expressions. With `codetools::findGlobals()`, I would first need to coerce each expression into a function, which is trouble if those expressions have multiple language objects.

[code]

With `CodeDepends`, this seems easier and safer.

[code]

With the changes happening to `drake` right now,

[2018-02-16 03:12] #14 closed

[2018-02-16 13:31] wlandau opened #22 "Warning: In collector$results(reset = reset) : partial argument match of 'reset' to 'resetState'"
Just a minor issue. I don't know why I am getting warnings about partial matches to function arguments.

[code]

[2018-02-16 22:30] gmbecker commented on #22
This should be fixed now.

Thanks.

[2018-02-16 22:30] #22 closed

[2018-02-16 22:33] gmbecker commented on #21
Corey,

You're passing getInputs the actual randomForest object, which it doesn't understand because it only works on things that represent code. What I suspect you wanted to do was:
[code]

Does that make sense? getInputs needs to be passed the code you want to analyze.

If you are looking to analyze things that are happening in your interactive R session this can be combined with my histry packa

[2018-02-16 22:53] Corey-Zumar commented on #21
Thanks @gmbecker, that makes sense! I've been using CodeDepends in the context of an interactive R session, but I now realize that this approach isn't always correct because the library is written for static analysis. I'll definitely investigate combining this with "histry" to achieve the intended result.

[2018-02-16 22:53] #21 closed

[2018-02-17 18:47] wlandau commented on #14
Another thing I really like: `CodeDepends` separates out NSE symbols such as the arguments to `ggplot2::aes()`.

[2018-02-18 17:58] gmbecker commented on #14
Thanks.

Glad you're finding that useful. For the record that is fully customizable
via the function handlers (that's actually how it is implemented, with
default handlers for the functions I knew of off the top of my head that
would have NSE).

As new functions with NSE mechanics come online and become popular, they'll
need to be handled with custom handlers at first and then eventually rolled
in

[2018-02-18 20:06] wlandau opened #23 "Expanded documentation on customization"
Even with [this section in the vignette](https://github.com/duncantl/CodeDepends/blob/master/vignettes/intro.Rmd#input-collectors-function-handlers-and-customization), I find it difficult to learn how to customize `CodeDepends` and to understand how it does what it does. If you could break down the terminology, concepts, and mechanics, and if you could provide a lengthier suite of examples, I thin

[2018-02-20 18:07] gmbecker commented on #23
That is understandable. Writing this kind of stuff is hard, and I had hoped that the default function handlers themselves would be somewhat self-documenting, but looking at them I can see that's only the case for someone already pretty well-steeped in low-level computation on parsed expressions.

I don't have the cycles to do this now, but I'm going to have to wade back into this stuff to handle a

[2018-02-20 18:19] wlandau commented on #23
Thanks, Gabe! I would be happy to help with this going forward, time and knowledge permitting.

[2018-02-20 18:56] gmbecker commented on #23
For the record, and I know this isn't particularly helpful or how it _should_ be, but I learned this stuff via a combination of reading the source code of the previous versions of CodeDepends, and by manually constructing expressions and inspecting them via double-bracketing into them:
[code]

The patterns become pretty clear quickly. This of course maps to the AST stuff discussed in that chapter

[2018-02-21 17:44] gmbecker commented on #19
Hi, so apologies not weighing in on this at the time. I'm basically in complete agreement with @clarkfitzg here. Static analysis means not requiring the resolution of symbols  (which can only be done completely correctly by loading all the correct packages and making all the relevant actual calls).

Now there are corner cases when we already break the static code analysis shouldn't even require an

[2018-02-22 06:03] wlandau commented on #19
Sounds like a reasonable consequence of being static.

That would cover the overwhelming majority of my own use cases.

Absolutely. There is no rush on any of this, and just understanding the constraints of `CodeDepends` is extremely helpful. Thank you for such a thorough explanation.

[2018-03-13 19:50] wlandau opened #25 "warnings when loading CodeDepends"
After installing fe5058285425c17a443e8c0e7936c4a824f3ad98:

[code]

This is affecting packages that import from `CodeDepends`.

[2018-03-13 20:09] wlandau opened #26 "Inconsistent detection of the magrittr dot (.) as an NSE variable"
From https://github.com/ropensci/drake/issues/320:

[code]

[2018-03-13 20:46] gmbecker commented on #26
@wlandau

So filter has different semantics whether you are hitting the Bioconductor or dplyr version. The way that CodeDepends currently works (which is not quite perfectly correct but would cover the case here, I suspect) is that if dplyr is loaded previously in the script CodeDepends is aware of, it handles arguments to filter the way you would want for dplyr::filter. If not, it treats the filt

[2018-03-13 21:03] gmbecker commented on #25
So CodeDepends imports the XML for reasons which may or may not continue to
be relevant to how @duncantl uses the package today. That could potentially
be changed to a suggests or an importFrom, but it would take a bit of doing
as the parts of the package that do touch XML functionality do so quite a
bit, and adding all the ::'s after doing a requireNamespace or finding the
full set of things for

[2018-03-13 21:37] gmbecker commented on #17
There is a fix in place for this which tracks cumulative library loads across nodes when processing a whole script. We're still only checking for presence/absence of attaching dplyr, which isn't quite right (it could be masked later) but it's the best we're going to easily do so I'll wait for that to actually cause a problem before we try to tackle it further.

[2018-03-13 21:37] #17 closed

[2018-03-13 21:40] gmbecker commented on #3
@nick-ulle I'm going to close this. Please feel free to re-open it if appropriate.

[2018-03-13 21:40] #3 closed

[2018-03-14 01:58] wlandau commented on #26
Contrary to the established traditions of `Make`-like tools, `drake` focuses on the user's R session, not script files. It analyzes the commands in the [workflow plan data frame](https://ropensci.github.io/drake/articles/example-basic.html#the-workflow-plan-data-frame) and the "imported" functions loaded in your R session (or a custom environment you provide). If `CodeDepends` behaves differently

[2018-03-14 03:24] gmbecker commented on #26
It has nothing to do with what is actually loaded in the session. Though
for the record the correct analysis ofa filter call actually does
technically sependnon what version of filter it will actually hit when run,
ie what packages  are loaded

We do not look at that, but use a heuristic that depends on having the full
script available to guess at which version of filter it should assume is
being

[2018-03-14 11:55] joshuaulrich commented on #25
You could probably modify the bit of `R CMD check` that finds imports from base packages to find imports from a specific package.  That might be globally useful to the entire R community, since it's often said it's better to `importFrom(pkg, foo)` than `import(pkg)`.  I'd be willing to help, if you're interested.

[2018-03-21 18:03] wlandau opened #27 "Error getting the inputs of a body of a function"
From https://github.com/ropensci/drake/issues/335#issuecomment-374933730:

[code]

[2018-03-21 18:15] duncantl commented on #27
Thanks. We can add support for the list parameter of rm().

[2018-03-21 18:16] gmbecker commented on #27
@wlandau thanks for the report. It doesn't have anything to do with it being a function body, though. The actual problem is the

[code]
pattern within the code body. The problem is that rm handler does not now how to handle that. And it's not clear how it could in a way that is fully correct.

Note something like `getInputs(install.packages)` does not fail with this error (also note you don't need

[2018-03-21 20:17] gmbecker commented on #27
@wlandau @duncantl I just checked in something that punts completely if a named argument other than list is present in an `rm()` call and  attempts to handle the case where `list` is specified but is made up of a bunch of strings (in either c() or list(), one assumes) and throws a warning if `list` is specified but dynamically valued.

[2018-03-21 20:20] wlandau commented on #27
Thanks, Gabe! dfe31e7384c1137732c04dc277d1ace17d190df8 solves the problem for the purposes of `drake`.

[2018-03-21 20:20] #27 closed

[2018-03-21 22:12] gmbecker opened #28 "Incorrect guessing of script type when string constant contains XML tags"
See:

[code]

The above code works fine if `type="R"` is added to the readScript call.

[2018-03-22 16:20] gmbecker opened #29 "Error in makeCallGraph"
I'm seeing this in our internal build system logs @duncantl I haven't looked at the callgraph stuff in a long time, and I saw you touched it recently, is this something where the cause is obvious to you since it's fresh?

[code]

[2018-03-23 22:15] gmbecker commented on #29
Fixed in trunk version 0.5.5.4 ( 2fb07f6 )

[2018-03-23 22:15] #29 closed

[2018-03-25 19:56] wlandau opened #30 "The graph package moved from suggests to imports."
The `graph` package was removed from CRAN, so I do not think the strict dependency bodes well for reverse dependencies such as `drake`.

[2018-03-25 22:28] gmbecker commented on #30
From what I can see the graph package is (and still is) in Bioconductor so
it should be fine.

On Sun, Mar 25, 2018, 12:56 PM Will Landau <notifications@github.com> wrote:

[2018-03-26 13:16] wlandau commented on #30
It may be within the rules, but I worry that it will create extra friction during installation for  `CodeDepends` and all its reverse dependencies. For me, `devtools::install_github("duncantl/CodeDepends")` failed because I did not have `graph` installed. I think this is related to https://github.com/r-lib/devtools/issues/700. Does `graph` really need to be in `Imports:`? If so, what about adding

[2018-03-27 07:16] gmbecker commented on #30
I can look into what we can do about this in the longer term, but in the
shorter term, using switchr instead of devtools to install CodeDepends (and
thus, drake) from github works fine, even with no bioconductor packages
already installed:

man = GithubManifest("duncantl/CodeDepends")

install_packages("CodeDepends", man)

Hope that helps with any immediate issues you may be having during
developm

[2018-03-28 02:17] wlandau commented on #30
Moving to `igraph` would also fix #25. Maybe I can help. What is the compilation error exactly? What platform do you use?

[2018-03-28 14:10] wlandau opened #31 "Error processing functions created with Rcpp"
I think this is responsible for https://github.com/ropensci/drake/issues/344.

[code]

[2018-03-29 15:24] ruaridhw opened #32 "`getInputs` incorrectly interprets NSE for tidyr"
This may be related to #26.

`dplyr` works however `tidyr` doesn't. I haven't tried other `tidyverse` packages either though...

**Works**
[code]
The only input is `iris` and `Petal.Width` & `Species` are ignored.

**Fails**
[code]

`Petal.Width` is now an input when using `tidyr::gather`

[2018-03-30 00:45] clarkfitzg commented on #32
CodeDepends has special logic to handle the nonstandard evaluation (NSE) in dplyr. Users are free to extend CodeDepends to handle NSE in any way they like. For @ruaridhw's example this will return `iris`:

[code]

[2018-03-30 00:48] clarkfitzg commented on #32
I should mention that I don't know if `nseafterfirst` is correct here, because I don't know how `tidyr::gather` handles NSE. It's on the user to select the right function.

[2018-04-05 16:02] gmbecker commented on #31
This should be fixed in 0.5.5.5 Please reopen if you run into any further problems.

[2018-04-05 16:02] #31 closed

[2018-04-05 16:57] #32 closed

[2018-04-05 17:02] gmbecker commented on #32
@ruaridhw generally @clarkfitzg is correct. The way to change how CodeDepends handles a particular function is by setting a function handler for that function, and my hope is that one of the existing function handlers will do most of the things people want without them having to actually roll their own. Particularly in the case of support NSE functions CodeDepends is not aware of.

In the case of

[2018-04-06 12:37] ruaridhw commented on #32
Thank you both for the clear explanation.

I came to CodeDepends from ropensci/drake#320 and ropensci/drake#268 and assumed the second case would cause problems. As it turns out, `drake` seems to take care of this itself.

[2018-04-06 20:09] wlandau commented on #31
Awesome, thanks Gabe!

[2018-04-15 01:45] wlandau-lilly commented on #18
Uptake's [`pkgnet`](https://github.com/UptakeOpenSource/pkgnet) package is making this a major focus. It [currently has problems with its function networks](https://github.com/UptakeOpenSource/pkgnet/issues/79), so I recommended that they use `CodeDepends::makeCallGraph()` in the backend.

[2018-04-15 01:45] #18 closed

[2018-06-22 19:56] gmbecker commented on #30
For this release I've cleaned up the import to clobber the warnings but haven't made the jump to igraph. If you're still interested/willing to help I'd like to explore that further and see how close it could come to a drop-in replacement.

[2018-06-22 19:57] gmbecker commented on #25
This is fixed in 0.6.0, now in Github and submitted to CRAN.

[2018-06-22 19:57] #25 closed

[2018-06-24 20:10] lepennec opened #34 "Installation issue due to graph package not on CRAN"
Hi,
I would like to report that I had an issue updating CodeDepends on Linux: it requires graph which is not available on CRAN. I was able to update CodeDepends  by installing the graph package from BioConductor:
[code]
Not sure it is the best way.

I assume this is related to https://github.com/duncantl/CodeDepends/issues/30.

Thnk your for your work,

Erwan

[2018-06-24 21:58] wlandau commented on #25
Thanks, Gabe!

[2018-06-24 22:53] wlandau commented on #30
Which functions require `graph`? Any besides `makeCallGraph()`, `makeVariableGraph()`, and `makeTaskGraph()`? If not, would it be enough for now to move `graph` to `Suggests:` and check for it in those functions (with instructions to install from Bioconductor if `graph` is not found)?

[2018-06-24 22:57] wlandau commented on #30
I am still interested in helping to make the transition to `igraph`, and this first step seems like a good way to work up to an understanding of the internals.

[2018-06-24 23:32] wlandau commented on #34
By extension, this also affects the installation of [`drake`](https://github.com/ropensci/drake) (ref: https://github.com/ropensci/drake#installation, https://ropenscilabs.github.io/drake-manual/index.html#installation).

[2018-06-24 23:58] gmbecker commented on #30
I'm not really happy with removing existing, valuable functionality from
the package like that. We made graph a dependency for a reason, and the
fact that it is a Bioconductor package not withstanding, I still think it
was a good one.

I'm willing to consider moving to igraph if it can do everything we
currently use graph + Rgraphviz for (I'm skeptical but openminded about
this), but as it stands

[2018-06-25 05:01] wlandau commented on #30
I understand. I have been using `CodeDepends` exclusively for `getInputs()`, so I did not know just how central the other functionality was.

[2018-06-25 15:59] gmbecker commented on #34
Erwin,

graph is a Bioconductor package, which is why it isn't installable the normal way from CRAN. That said, CRAN does allow Bioconductor packages as dependencies, and Bioc packages just recently got easier to install in a CRAN centric way.

The way to install graph (or any other Bioc package) is to

1. Install the BiocManager package _from CRAN_
2. load BiocManager normally, via library,
3. in

[2018-06-25 19:35] lepennec commented on #34
Thank you for the very clear explanation. I wasn't aware of the BiocManager
package.

On Mon, Jun 25, 2018 at 5:59 PM, Gabe Becker <notifications@github.com>
wrote:

[2018-07-16 19:47] clarkfitzg opened #35 "partial match to 'calls'"
Minor issue, similar to #22. Discovered by @nick-ulle.

[code]

Looks like it shows up in a few places:

[code]
If you like I can submit a patch.

[2018-07-16 20:25] gmbecker commented on #35
That would be great. Thanks for the report, and for the forthcoming PR.

~G

On Mon, Jul 16, 2018 at 12:47 PM, Clark Fitzgerald <notifications@github.com

--
Gabriel Becker, Ph.D
Scientist
Bioinformatics and Computational Biology
Genentech Research

[2018-07-17 14:59] #35 closed

[2018-08-30 08:00] tvarju opened #38 "Unexpected result from getInputs(do.call(..."
The command `CodeDepends::getInputs(quote(do.call(order, temp)))` outputs (with deleted empty slots)

[code]

I would have expected

[code]

[2018-08-30 11:18] wlandau commented on #38
A fair point, but this code analysis is all static. In `do.call(order, temp)`, `CodeDepends` would need to evaluate the symbol `order` to know that it is a function and `do.call` to know that it takes a function as an argument. The same is true for `getInputs(quote(vapply(1:10, sqrt, FUN.VALUE = numeric(1))))`
and `getInputs(quote(purrr::map(1:10, sqrt)))`. It seems like `CodeDepends` would need t

[2018-10-18 00:04] nick-ulle opened #39 "getInputs() error on functions with no parameters"
Calling `getInputs()` on a function with no parameters produces an error:
[code]
The error goes away if you add a parameter to the function.

[2018-10-18 15:28] duncantl commented on #39
Thanks. Fixed to avoid  the error. Still deserves some thought about what the result should actually be.

[2018-10-18 17:06] gmbecker commented on #39
@duncantl, was going to look at this today, but thanks for taking care of
it.

Currently the way things work, AFAIK, is that there is a ScriptNodeInfo for
the function parameters (apologies for the no parameters case oversight if
that was me), then there seems to be a node just for "{", at least in the
version I have installed locally right this second, which is useless and we
may not want it don'

[2018-11-09 17:23] dgkf commented on #30
Hey @gmbecker - this dependency recently caused a bit of friction when trying to roll out [`scriptgloss`](https://github.com/dgkf/scriptgloss).

As a stop-gap measure, the recommended installation is through `BiocManager` - that method was new to me and might be a barrier to adoption for those more accustom to the usual `devtools` practices. Furthermore, `BiocManager` seems to be only available fo

[2019-07-18 15:24] clarkfitzg opened #41 "locally defined functions that call themselves"
If a function is defined locally and calls itself (so it's recursive), then ideally CodeDepends should identify that the usage of the function is local, and not from a package. This came up for me in `tryCatch`, specifically `getInputs(tryCatch)[[3L]]` where `tryCatchList` defines and uses itself. One can use `Recall` to achieve the same result.

Here's a minimal example:
[code]

I can work around

[2019-07-18 15:35] duncantl commented on #41
For the straightforward cases, we can add that.  I just didn't look for function definitions explicitly.
Not certain yet where I want to do this without giving it a little thought, i.e. in CodeAnalysis or in CodeDepends.  I'll try to find time to rationalize the separation and role of each of these in the next few weeks.

[2019-07-18 16:13] clarkfitzg commented on #41
There's also a related issue with `TryCatch`. That is, `tryCatchList` uses `tryCatchOne` that's only defined later in the body. I'm mentioning it here so we don't forget.

[2020-08-06 20:34] ran88dom99 opened #44 "fishbone diagram aimed at single variables"
I make many silly mistakes and often end up with some variable holding something that makes no sense. I wish to select a variable and get a fishbone diagram of all variables that affected it and at what line of code. Like combining the two graphs of variable change already in documentation. Also include head and tail or rather corners state after each change?

[2020-08-27 11:40] razz-matazz opened #45 "List all variables"
Hello,

I am looking for a way to list all variables an R-file contains. I tried
[code]
but it seems that gives me only the names of global functions and variables, but nothing that "resides" in functions.
Is there a way to achieve my goal?

[2020-08-27 13:22] wlandau commented on #45
If I am understanding correctly, I think `base::all.vars()` does what you want.

[code]

<sup>Created on 2020-08-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-08-28 08:04] WurmPeter commented on #45
@wlandau oh, thanks a lot. This was what I searched for but couldn't find.

[2021-02-25 23:44] rmflight opened #46 "how to generate call graph on a function and not a package"
How is one supposed to create a call-graph using `makeCallGraph` on a function call?

For example, if I wanted to know all the functions that get called by doing:

    lm(mpg ~ hp, data = mtcars)

I would have thought I would do something like:

    gg = makeCallGraph("lm(mpg ~ hp, data = mtcars)")

But I get the error:
    Error in .local(obj, all, ...) :
    Don't know how to make a call graph f

[2022-04-06 10:16] natereal commented on #46
I was also wondering if this is possible. From the documentation at
https://cran.r-project.org/web/packages/CodeDepends/CodeDepends.pdf
it appears that it currently only accepts packages. However in the vignette it says "We can also create call graphs for functions or entire packages", so I am not sure

[2022-04-08 21:39] gmbecker commented on #46
Hi, so sorry this apparently slipped by my radar for a full year (mea culpa).

The issue here is that you can't build a callGraph for a specific invocation, only for functions or packages as a whole.
[code]

[code]
does work for me, though from what I'm seeing its not properly (fully) recursive, as `.getXlevels` contains a call to `vapply` which doesn't appear here. I will try to find time to inve

[2022-04-10 22:30] duncantl commented on #46
The [CodeAnalysis](https://github.com/duncantl/CodeAnalysis) package is probably a better place to get this functionality.
You will also need to install [rstatic](https://github.com/nick-ulle/rstatic).  Both packages should be installed directly from the code on github.

[2022-04-10 23:54] gmbecker commented on #46
@duncantl does the functionality in https://github.com/duncantl/CodeAnalysis fully subsume `makeCallGraph` in this package? If so, we should deprecate/remove  the functions in this package (instead of me going in to fix them).

A very brief glance at callGraph.R didn't show me the option for being recursive, but then, the recursive argument here isn't connected to anything, so I guess that's a was

[2022-04-25 16:50] duncantl commented on #46
FYI, I added this top-level functionality in CodeAnalysis, i.e.,
[code]
gives the call information and draws the graph.  One can use recursive = TRUE or recursive = positive.integer to get the entire call graph (typically way to big and takes a while) or the first "positive.integer" descendants/layers from the current call.

One can use callGraph( "lm ( mpg ~ wt + cyl, mtcars) ", recursive = 3)  b